body
{
	
	background-color:#006699;
	margin:0px;
	padding:0px;
}
.header
{

background-color:#006699;
width:100%;
height:30px;
margin:0px;
padding:0px;




}
.midpicture{
	
background-color:beige;
width:100%;
height:120px;
margin:0px;
padding:0px;
}
	
	
.menu
{
background-color:#006699;
width:100%;
height:30px;
	border:1px solid beige;
	
	
}

.container
{
width:80%;	
margin-left:120px;
border-radius:8px;
margin-top:0px;
height:700px;
background-color:beige;
border:1px solid navy;
	
	
}

.left
{
width:20%;	
height:700px;
border-right:2px solid gray;
float:left;	
}
.right
{
width:79%;	
height:700px;

float:left;	
background-color:beige;

}


.rightup
{

width:98%;	
height:150px;
border:1px solid gray;
margin-top:2px;
background-color:#EAEADF;
border-radius:5px solid lightgray;	
margin-left:10px;
border-radius:5px;
}
.rightdown
{
width:98%;	
height:550px;
border:1px solid gray;
margin-top:2px;
background-color:#EAEADF;
border-radius:5px solid lightgray;	
margin-left:10px;
border-radius:5px;

}




 
.im
{
margin-left:25px;
margin-top:25px;
border:2px solid gray;	
	
}
.eventtable
{
	
	width:95%;
	border:1px solid lightgray;
	border-collapse:collapse;
	margin-left:10px;
}
.eventtable th{


font-family:verdana;
	font-size:14px;
		border:1px solid lightgray;
	
}
.eventtable td
{
margin-left:20px;
text-align:center;
font-family:verdana;
	font-size:13px;
		border:1px solid lightgray;
	

}

.eventtable tr 
{
	
	border-bottom:1px solid #006699;
}
.tt{
	width:100%;
	margin-left:1px
}
.tt td
{
border:1px	solid navy;
font-family:verdana;
font-size:10px;
	text-align:center;
	background-color:#EAEADF;
	padding-top:2px;
	width:50px;
	
}
.tt tr
{
	border-bottom:4px solid lightgray;
	margin-top:4px;
}


.im1
{

border:1px solid gray;	
height:74px;
width:64px;
	
}
.p1{
	
	background-color:#EAEADF;
	margin-top:3px;
	padding-top:4px;
	padding-left:3px;

	margin-left:2px;
	font-family:verdana;
	font-size:14px;
	border:1px solid lightgreen;
	padding-bottom:4px;
	border-radius:5px;
}
#pa{
	background-color:white;
	
	padding-top:4px;
	border:1px solid lightgray;
	margin-left:0px;
	font-family:verdana;
	font-size:14px;
	border:1px solid gray;
	padding-bottom:4px;
}
